*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;
}
.header{
   background-color: #FFF8F3;
   background-image: url(/img/Developer.png);
   background-repeat: no-repeat;
   margin-bottom: 150px;
}
/* menu start */
.menu{
   display: flex;
   justify-content: space-around;
   margin-bottom: 80px;
}
.menu-1{
    margin-top: 20px;
}
.menu-1 h3{
    color: #181818;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}
.menu-1 span{
    color: #FD6E0A;
}
.menu-2{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 20px;
}
.menu-2 li a{
    text-decoration: none;
    color: #474747;
font-size: 20px;
font-weight: 400;
}
.common-btn{
    background-color: #FD6E0A;
    color: #FFF !important;
font-size: 20px !important;
font-weight: 700 !important;
border-radius: 7px;
text-decoration: none;
padding: 10px 20px !important;
border: none;
}
/* menu end */
/* banner start */
.banner{
    display: flex;
    justify-content: space-between;
}
.b-content{
    width: 50%;
    padding-left: 150px;
}
.b-content h2{
    color: #474747;
font-size: 30px;
font-weight: 550;
margin-top: 200px;
}
.b-content h1{
    color: #181818;
font-size: 45px;
font-weight: 700;
margin-bottom: 30px;
}
.b-content p{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.b-img{
    width: 50%;
}
/* banner end */
/* main start */
main{
    width: 1140px;
    margin: 0 auto;
}
/* about start */
.about{
    background-color: #fff8f3;
    padding: 80px;
    margin-bottom: 100px;
}
.about-container{
    background-color: white;
    padding: 30px;
}
.about-container h2{
    text-align: center;
}
.about-container p{
    text-align: center;
    margin-top: 30px;
  margin-bottom: 30px;
}
.about-me{
   display: flex;
   justify-content: space-around;
}
/* about end */
/* what-i-do start */
.what-i-do-title p{
    text-align: center;
    color: #757575;
font-size: 18px;
font-weight: 400;
margin-top: 30px;
margin-bottom: 80px;
}
.section-title{
    text-align: center;
    color: #181818;
font-size: 30px;
font-weight: 700;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
.skill-container{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 33px;
}
/* what-i-do end */
/* resume start */
.resume-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.resume-item h2{
    color: #474747;
font-size: 30px;
font-weight: 700;
}
.resume-item h3{
    color: #474747;
font-size: 25px;
font-weight: 600;
margin-top: 20px;
margin-bottom: 20px;
}
.resume-item h4{
    color: #757575;
font-size: 20px;
font-weight: 600;
}
.resume-item p{
    color: #757575;
font-size: 16px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 20px;
}
/* resume end */
.cv-btn{
    text-align:center ;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* main end */
/* footer start */
footer{
    display: flex;
     gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.footer-coloumn{
    width: 50%;
}
.footer-coloumn input[type="text"],input[type="email"], textarea{
    display: block;
    border: none;
    padding: 18px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.footer-coloum h2{
    margin-bottom: 20px;
}
.footer-coloum p{
    margin-bottom: 20px;
    color: #474747;
font-size: 16px;
font-weight: 400;
}
.social-icon a img{
    margin-right: 20px;
}
/* footer end */